.workspace {
  height: 200px;
  width: 400px;
  border: dashed 3px black;
  padding: 10px;
  display: flex;
  gap: 20px;
  margin: 20px;
}

.panel {
  height: 100px;
  width: 100px;
  display: flex;
  place-items: center;
  justify-content: center;
  border: solid 1px #566073;
}

.panel input {
  width: 80%;
}