:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  min-height: 100vh;
}

div {
  box-sizing: border-box;
}

button {
  border: 1px solid gray;
  padding: 0.2em 0.4em;
  line-height: 1.4em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
  background-color: white;
}
button:disabled, button:disabled:hover {
  border-color: #777;
  background-color: #aaa;
  cursor: default;
}
button:hover {
  border-color: darkgray;
  background-color: #ddd;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
